/*body background css*/
body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #333399, #ff00cc);
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

/*login form css*/
.l-form{
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, .5);
    border-radius: 10px;
    max-width: 300px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.l-form::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, .15);
    transform: rotate(-6deg);
    border-radius: 10px;
    z-index: -1;
}
.l-form img{
    width: 60px;
    margin-bottom: 1rem;
    text-align: center;
}
.l-form h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}
.l-form p{
    font-size:12px;
    padding: 1px;
    text-align: center;
    opacity: .8;
    margin-bottom: 2rem;
}
.l-form input{
    outline: none;
    border-radius: 100px;
    background: rgba(255, 255, 255, .3);
    width: 100%;
    border: none;
    margin: 0 0 15px;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    font-size: 1rem;
}
.l-form input:hover{
    background-color: #D3F8F9;
    transition: all 1s ease 0s;
}
.l-form input:focus{
    background-color: #D3F8F9;
    transition: all 1s ease 0s;
}
.l-form button{
    text-transform: uppercase;
    outline: none;
    border-radius: 100px;
    background: black;
    width: 100%;
    border: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 1rem;
    cursor: pointer;
}
.l-form button:hover, .l-form button:active, .l-form button:focus{
    background-color: #333399;
    transition: all 1s ease 0s;
}
.l-form .l-message{
    margin: 15px 0 0;
    color: black;
    font-size: 12px;
}
.l-form .l-message a{
    color: #353399;
    text-decoration: none;
}
.l-form .l-message a:hover{
    color: white;
}
      