.background{
    background-image: linear-gradient( to right, #ffffc7,#ffffdb);
      background-attachment: fixed;
      background-size: cover;
    padding: 10px;
  }
  
  a{
      text-decoration: none;
  }

  .Wed{
    width: 100%;
    min-height: 50vh !important;
    background-size: cover;
    background-position: center;
    display:inline-block;
}

.banner-content{
  display: none;
}
  

  /*Background Video start*/
  .background-img{
      position: absolute !important;
      right: 0;
      bottom: 0;
      z-index: -1;
      opacity: 75%;
  }
  
  @media (min-aspect-ratio: 16/9){
      .background-img{
          width: 100%;
          height: auto;
      }
  }
  
  @media (max-aspect-ratio: 16/9){
      .background-img{
          width: auto;
          height: 100%;
      }
  }
  /*Background Video end*/
  
  
  /*For banner content*/
  .banner-img-content{
      position: absolute;
      top: 25%;
      left: 30%;
  }
   
  .banner-img-content h2 a{
    color: black;
 }
  
  /*login Form and Sign-up form*/
  .container{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background: rgba(254,251,234,0.75);
      width: 350px;
      padding: 30px;
      display: none;
  }
  /*For login Form*/
  #show:checked ~ .container{
      display: block;
  }
  /*For Sign-up form*/
  #view:checked ~ .container{
      display: block;
  }
  /*For Login and Sign-up form*/
  input[type="checkbox"]{
      display: none;
  }
  .container .text{
      font-size: 35px;
      font-weight: 600;
      text-align: center;
      color:black;
  }
  .container form{
      margin-top: -20px;
  }
  .container form .data{
      height: 45px;
      width: 100%;
      margin: 30px 0;
  }
  form .data label{
      font-size: 18px;
  }
  form .data input{
      height: 90%;
      width: 100%;
      padding-left: 8px;
      font-size: 17px;
      margin-top: 4px;
      background: none;
      border: 1px solid black;
      border-radius: 20px;
  }
  form .data input:hover{
      background: white;
  }
  form .forget-pass{
      margin-top: 5px;
  }
  form .forget-pass a{
      text-decoration: none;
      color: black;
      font-size: 16px;
      font-weight: 500;
  }
  form .forget-pass a:hover{
       color:#bf953f;
       font-weight: 500;
  }
  form .btn {
      margin: auto;
      margin-top: 10px;
      height: 40px;
      width: 150px;
      position: relative;
  }
  
  form .btn button{
      height: 100%;
      width: 100%;
      background: none;
      border: 1px solid black;
      border-radius: 20px;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      letter-spacing: 1px;
  }
  form .btn button:hover{
      background:#bf953f;
  }
  form .link {
      text-align: center;
      margin-top: 10px;
  }
  form .link a{
      color: red;
      text-decoration: none;
  }
  form .link a:hover{
      color: #bf953f;
  }
  
  /* Our services */
  .ourservices{
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.90);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    height: 500px;
    background-size: cover;
  }
  
  .serviceText {
     position: relative;
     text-align: left;
     overflow: hidden;
     padding: 30px;
     height: 100%;
     float: left;
     width: 40%;
     font-family: 'Lovelyn', sans-serif;
     font-style: normal;
     position: relative;
     font-size: 50px;
     color: #DFBD69;
     margin: 0;
   }
  
   .customizedService {
      position: relative;
      text-align: right;
      overflow: hidden;
      padding: 60px;
      height: 100%;
      float: left;
      width: 40%;
      font-family: 'Lovelyn', sans-serif;
      font-style: normal;
      font-size: 30px;
      color: #DFBD69;
      margin: 0;
    }
  
   .servicedetails {
     background-image: linear-gradient( to right, #ffffc7,#ffffff);
     font-size: 25px;
     text-align: middle;
     color: #7d7d7d;
     padding-top: 3%;
     display: inline-block;
     position: relative;
     overflow: hidden;
     height: 100%;
     float: right;
     width: 45%;
   }
  
   .customizedservicedetails {
     background-image: linear-gradient( to right, #ffffc7,#ffffff);
     font-size: 25px;
     text-align: center;
     color: #7d7d7d;
     padding-top: 12%;
     display: inline-block;
     position: relative;
     overflow: hidden;
     height: 100%;
     float: right;
     width: 45%;
   }
  
   .serviceImage{
     max-width: 100%;
     height: 70%;
   }
  
  /* Package Container */
  #container{
     box-shadow: 0 15px 30px 1px grey;
     background: rgba(255, 255, 255, 0.90);
     text-align: center;
     border-radius: 5px;
     overflow: hidden;
     margin: auto;
     height: 500px;
     width: 1000px;
  }
  
  .package {
     position: relative;
     text-align: left;
     overflow: hidden;
     padding: 30px;
     height: 100%;
     float: left;
     width: 40%;
   }
  
   #container .package h1{
     font-family: 'Lovelyn', sans-serif;
     font-style: normal;
     position: relative;
     font-size: 70px;
     color: #DFBD69;
     margin: 0;
   }
  
   .information {
     font-family: 'EB Garamond', serif;
     text-align: center;
     font-size: 20px;
     color: #7d7d7d;
   }
  
   .buttonControl{
     position: absolute;
     bottom: 20%;
     left: 38%;
   }
  
   .button {
     transition: 0.3s linear;
     background:  #ff9578;
     border-radius: 5px;
     position: relative;
     overflow: hidden;
     cursor: pointer;
     outline: none;
     border: 2px solid #ff9578;
     color: #eee;
     padding: 0;
     margin: 0;
   }
  
   .button:hover{
     transform: translateY(-6px);
     background: #fff;
     border-color: #ff9578;
   }
  
   .button span {
     font-family: 'Lovelyn', sans-serif;
     transition: transform 0.3s;
     display: inline-block;
     padding: 10px 20px;
     font-size: 1.2em;
     margin:0;
   }
  
   .button .price {
     font-size: 20px;
     transform: translateX(40%);
     padding-right: 15px;
   }
   .button .buy {
     transform: translateX(110%);
     padding-right: 15px;
     color: #ff9578;
   }
  
   .button:hover .buy {
     transform: translateX(-70%);
   }
  
   .button:hover .price {
     transform: translateX(-110%);
   }
  
   .packageImage {
     transition: all 0.3s ease-out;
     display: inline-block;
     position: relative;
     overflow: hidden;
     height: 100%;
     float: right;
     width: 45%;
     /* display: inline-block; */
   }
  
   #container img {
     width: 100%;
     height: 100%;
   }
  
   .info {
     background: rgba(0, 0, 0, 0.8);
     font-family: 'Lovelyn', sans-serif;
     transition: all 0.8s ease;
     transform: translateX(100%);
     position: absolute;
     line-height: 1.8;
     text-align: left;
     font-size: 105%;
     cursor: auto;
     color: #DFBD69;
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
   }
  
   .info h2 {
     text-align: center;
   }
  
   .packageImage:hover .info{
     transform: translateX(0);
   }
  
   .packageImage:hover img {
     transition: all 0.3s ease-out;
   }
  
   .packageImage:hover img {
     transform: scale(1.2, 1.2);
   }
  
    
       
      
  